name: Build Launcher APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          workdir: .
          buildozer_version: master
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: launcher-apk
          path: bin/*.apk
          
