name: Build Launcher APK
on: [push]
jobs:
  build:
    # 1. हम नया और तेज कंप्यूटर ले रहे हैं (ताकि लाइन में न लगना पड़े)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      # 2. यह है वो "जादुई फिक्स" (SSL Fix) जो पिछली बार के एरर को हटा देगा
      - name: Fix OpenSSL for Android
        run: |
          wget http://nz2.archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb

      # 3. बाकी सेटिंग्स वही पुरानी और भरोसेमंद (Java 11)
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jdk python3-pip build-essential git python3 python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev libltdl-dev libffi-dev libssl-dev autoconf autotools-dev unzip

      - name: Install Buildozer
        run: |
          pip3 install --upgrade pip
          pip3 install buildozer cython==0.29.33

      - name: Build APK
        run: |
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NeoLauncher-SuperFast
          path: bin/*.apk
          
